// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Nunito', sans-serif;
    padding: 60px;
}

h1, h3{
    text-align: center;
}

.entrevista{
    text-align: center;
}



.medusa, .hardwell {
    //height: 250px;
    //width: 400px;
    max-width: 80%;
    height: auto;
    //display: flex;
    display: block;
    margin: 0 auto;
}



input {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column; //Aqui estaba row
    //justify-content: space-between;
    //flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    //margin: 0 10px 100px 10px;
    margin-bottom: 30px;
}
.flex item img {
    max-width: 100%;
    height: auto;
}

#carouselCaptions{
    height: 600px;
    max-width: 100%;
    //width: 600px;
    margin: 0 auto;
}



.carousel-inner .carousel-item img {
    //width: 600px;
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}


.separador {
    border: 1px solid black;
}

.btn-registro {
    margin-left: 45%;
}




.im_partners {
    height: auto;
    width: 100%;
}

.sponsors {
    background-color:  #FFECB3;

}



.contacto {
    background-color: #c9c9c9;
    margin: 5% 10%;
    //margin-left: 25%;
    //margin-right:25%;
    border: 1px solid black;
    margin-bottom: 5%;
    padding: 20px; //lo acabo de añadir

}

.f_contacto{
    margin-left: 0; //lo tenia a 10%

}

.btn_form {
    margin: 0 auto;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 80%;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card_contacto {
    background-color: #969696;
}


.frases {
    max-width: 100%;
    margin: 2% auto;
    padding: 20px;
    background-color: #C0C0C0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.btn-frases {
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: #000;
        cursor: pointer;
    }

.btn-frases:hover{
        background-color: grey;
    }

.enlaces_artistas{
    text-decoration: none;
    color: inherit;
}

.entradasForm {
    max-height: 600px;
    overflow-y: auto;

}


.btn-evento-borrar{
    margin-top: 15px;
}


.video_yt{
    margin-top: 5px;
    margin-bottom: 10px;
}

