// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap

@import '../../node_modules/bootstrap/scss/bootstrap';


body {
    font-family: 'Nunito', sans-serif;
    padding: 60px;
}

.fondo-detalles {
    background-color: #E7BB41;
}

//PALETA DE COLORES NEGRO 393E41   GRIS D3D0CB    BLANQUECINO E7E5DF  44BBA4 TURQUESA  E7BB41 ORO

.card-evento, .card-artistas {
    background-color: #E7BB41;
    border: 5px solid #E7E5DF;
}

.card-evento:hover{
    background-color: #44bba4;
    transition:all .5s ease-in-out;

}
.card-artista:hover {
    transform: scale(1.1);
}
.btn-buscar{
    background-color: #E7BB41;
}
.btn-buscar:hover{
    background-color: #E7E5DF;
    color: #393E41;
}

.card-detalles {
    border: 3px solid #E7BB41;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0.8, 0.8);
}

.titulo-evento {
    text-align: center;
    font-family: cursive;
}

.form-login {
    background-color: #E7BB41;
}

.form-nuevo {
    background-color: #E7E5DF;
    padding: 10px;
    color: #393E41;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px double #E7BB41;
}

.cards-evento, .imgs-inicio {
    animation-duration: 1s;
    animation-name: slidein
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
}


.bounce-animation:hover {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}


//PALETA DE COLORES NEGRO 393E41   GRIS D3D0CB    BLANQUECINO E7E5DF  44BBA4 TURQUESA  E7BB41 ORO
.titulo-nuevo {
    box-shadow: 0 0 10px #E7BB41;
    color: #E7BB41;
    text-shadow: 0 0 10px #000;
}

.form-editar {
    border: 5px double #44bba4;
}

.titulo-editar{
    box-shadow: 0 0 10px #44bba4;
    color: #44bba4;
    text-shadow: 0 0 10px #000;
}

.evento-body {
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    perspective: 100px;
    padding: 10px;
    color: #000;
}

.titulo2{
    text-align: center;
    font-family: cursive;
}


h1, h3{
    text-align: center;
}

.entrevista{
    text-align: center;
}

.texto-slider {
    font-family: cursive;
    text-shadow: 2px 2px 4px #E7BB41;
    font-size: 3em;
}

.registro-form{
    background-color: #E7BB41;
}



.medusa, .hardwell {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

}
.hardwell:hover, .medusa:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}



@keyframes parpadeo {
    0% {
        background-color: #E7BB41;
        color: #000000;
    }
    50% {
        background-color: #000000;
        color: #ffffff;
    }
    100% {
        background-color: #E7BB41;
        color: #000000;
    }
}

.frases {
    animation: parpadeo 1s infinite; /* La animación dura 1 segundo y se repite infinitamente */
}

.cabecera-cards {
    background-color: #E7E5DF !important;
    font-family: cursive;
    text-align: center;
    color:#E7BB41;
    font-size: 3em;
}



input {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column; //Aqui estaba row
}

.flex-item {
    flex: 1;
    margin-bottom: 30px;
}
.flex item img {
    max-width: 100%;
    height: auto;
}

#carouselCaptions{
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
}



.carousel-inner .carousel-item img {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}


.separador {
    border: 1px solid black;
}

.btn-registro {
    margin-left: 45%;
}




.im_partners {
    height: auto;
    width: 100%;
}

.sponsors {
    background-color:  #FFECB3;

}



.contacto {
    background-color: #c9c9c9;
    margin: 5% 10%;
    border: 1px solid black;
    margin-bottom: 5%;
    padding: 20px; //lo acabo de añadir

}

.f_contacto{
    margin-left: 0; //lo tenia a 10%

}

.btn_form {
    margin: 0 auto;
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 80%;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card_contacto {
    background-color: #E7BB41;
}


.frases {
    max-width: 100%;
    margin: 2% auto;
    padding: 20px;
    background-color: #E7BB41;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
}

.btn-frases {
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: #000;
        cursor: pointer;
    }

.btn-frases:hover{
        background-color: grey;
    }

.enlaces_artistas{
    text-decoration: none;
    color: inherit;
}

.entradasForm {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #E7BB41;
    padding: 10px;
    box-shadow: 0 0 10px #E7BB41;
    box-sizing: border-box;
}
.btn-compras {
    background-color: #E7BB41;
    border-radius: 5px;
    font-family: cursive;
    padding: 5px;
}

.img-inicio {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.img-inicio:hover {
    transform: rotate(360deg);
    animation: giro 3s linear infinite;
  }

  @keyframes giro {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }





.btn-compras:hover {
    background-color: #E7E5DF;
    transform: scale(1.3);
}
.btn-evento-borrar{
    margin-top: 15px;
}


.video_yt{
    margin-top: 5px;
    margin-bottom: 10px;
}

